global
    maxconn 1000

defaults
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m

frontend stats
    mode http
    bind *:7000
    stats enable
    stats uri /

frontend postgres_front
    bind *:5432
    default_backend postgres_back

backend postgres_back
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 patroni-db1:5432 maxconn 100 check port 8008
    server patroni2 patroni-db2:5432 maxconn 100 check port 8008
